<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=LAPTOP-01QG2D1I\SQLEXPRESS;Initial Catalog=Problem;Integrated Security=SSPI;" />
  <add name="FinalProject.Properties.Settings.ProblemConnectionString"
   connectionString="Data Source=LAPTOP-01QG2D1I\SQLEXPRESS;Initial Catalog=Problem;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>